**/node_modules/**/*
**/lib/*
**/GraphQL.ts
!**/.vuepress/**/*
**/__generated__/*
packages/boilerplate/composables/nuxt/plugin.js
packages/commercetools/composables/nuxt/plugin.js
packages/core/cache/nuxt/plugin.js
**/__generated__/**/*
**/.nuxt/**/*
**/_theme/**/*
**/api-client/server/**/*
